<hr style="width: 100%; color: grey; height: 1px; background-color:grey;"/>

<div class="dropdown">
      <a class="dropdown-item" href="<%= subject_index_path(:area => 'FISMA') %>">IFI</a>
      <a class="dropdown-item" href="<%= subject_index_path(:area => 'CS') %>">ISD</a>
      <a class="dropdown-item" href="<%= subject_index_path(:area => 'CS') %>">ITC</a>
      <a class="dropdown-item" href="<%= subject_index_path(:area => 'E&G') %>">LAE</a>
      <a class="dropdown-item" href="<%= subject_index_path(:area => 'RI') %>">LRI</a>
</div>